{{#power-grid
  id="application-shell"
  preview=true
  gridTemplateColumns="216px 1fr"
  gridTemplateRows="56px 1fr 40px"
  gridTemplateAreas=(grid-template-areas
    "n h"
    "n c"
    "n f"
  ) as |grid|
}}
  
  {{#grid.area gridArea="h"}}
    I am the header
  {{/grid.area}}
  
  {{#grid.area gridArea="c"}}
    I am the content
    {{outlet}}
  {{/grid.area}}
  
  {{#grid.area gridArea="f"}}
    {{#power-grid
      id="application-footer"
      preview=true
      gridGap="10px"
      gridTemplateColumns="200px 1fr 240px"
      gridTemplateRows="40px"
      gridTemplateAreas=(grid-template-areas
        "o p m" 
      ) as |footer|
    }}
      {{#footer.area gridArea="o"}}
        options
      {{/footer.area}}
      
      {{#footer.area gridArea="p"}}
        paginator
      {{/footer.area}}
      
      {{#footer.area gridArea="m"}}
        page of page
      {{/footer.area}}
    {{/power-grid}}
  {{/grid.area}}
  
  {{#grid.area gridArea="n"}}
    {{#power-grid
      id="application-navigation"
      preview=true
      gridTemplateColumns="56px 1fr 24px"
      gridTemplateRows="56px 1fr 60px"
      gridTemplateAreas=(grid-template-areas
        "l t x"
        "n sl sr"
        "a c c"
      ) as |nav|
    }}
      {{#nav.area gridArea="l"}}
        logo
      {{/nav.area}}
      {{#nav.area gridArea="t"}}
        title
      {{/nav.area}}
      {{#nav.area gridArea="x"}}
        <button {{action "toggleSideBar"}}>X</button>
      {{/nav.area}}
      {{#nav.area gridArea="n"}}
        nav
      {{/nav.area}}
      {{#nav.area gridArea="sl"}}
        sidebar left
      {{/nav.area}}
      {{#nav.area gridArea="sr"}}
        ?
      {{/nav.area}}
      {{#nav.area gridArea="a"}}
        avatar
      {{/nav.area}}
      {{#nav.area gridArea="c"}}
        <button {{action grid.openModal}}>
          Create
        </button>
      {{/nav.area}}
    {{/power-grid}}
  {{/grid.area}}
  
  {{#if grid.showModal}}
    {{#grid.modal}}
      modal
      
      <button {{action grid.closeModal}}>Close</button>
    {{/grid.modal}}
  {{/if}}
  
  {{log grid.cssGridArea}}
{{/power-grid}}
